<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss xmlns:ev="http://purl.org/rss/1.0/modules/event/" version="2.0">
  <channel>
    <title>Carolina Theatre of Durham Events</title>
    <link>https://carolinatheatre.org/events/</link>
    <description>Events and performances at Carolina Theatre of Durham</description>
    <language>en-us</language>
    <lastBuildDate>Tue, 6 Oct 2026 10:15:07 GMT</lastBuildDate>
    <item>
      <title>Voices United: Durham Children’s Choir and SONAM (2027-06-05)</title>
      <link>https://carolinatheatre.org/voices-united-durham-childrens-choir-and-sonam/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/voices-united-durham-childrens-choir-and-sonam/</guid>
      <ev:startdate>2027-06-05</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_VoicesUnited_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Neebs Gaming Live (2027-05-22)</title>
      <link>https://carolinatheatre.org/neebs-gaming-live/</link>
      <description><![CDATA[Category: Comedy | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/neebs-gaming-live/</guid>
      <ev:startdate>2027-05-22</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/NGSB_1440x810-2-500x280.jpg"/>
    </item>
    <item>
      <title>Uncle Jumbo (2027-05-08)</title>
      <link>https://carolinatheatre.org/uncle-jumbo-fss/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/uncle-jumbo-fss/</guid>
      <ev:startdate>2027-05-08</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_UncleJumbo_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Chamber Orchestra of the Triangle: Music of Masks (2027-05-02)</title>
      <link>https://carolinatheatre.org/the-chamber-orchestra-of-the-triangle-music-of-masks/</link>
      <description><![CDATA[Category: Music | 3:30pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-chamber-orchestra-of-the-triangle-music-of-masks/</guid>
      <ev:startdate>2027-05-02</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/1440-x-810px-Website-Music-of-Masks-500x280.png"/>
    </item>
    <item>
      <title>Antonio Rocha: Footprint of Kindness (2027-04-10)</title>
      <link>https://carolinatheatre.org/antonio-rocha-footprint-of-kindness/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/antonio-rocha-footprint-of-kindness/</guid>
      <ev:startdate>2027-04-10</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_AntonioRocha_1440x810-500x280.png"/>
    </item>
    <item>
      <title>40 Fingers (2027-04-09)</title>
      <link>https://carolinatheatre.org/40-fingers/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/40-fingers/</guid>
      <ev:startdate>2027-04-09</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/40Fingers_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Harpsichord Diaries: A Musical Journey (2027-03-06)</title>
      <link>https://carolinatheatre.org/harpsichord-diaries-a-musical-journey/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/harpsichord-diaries-a-musical-journey/</guid>
      <ev:startdate>2027-03-06</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_TheHarpsichordDiaries_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Aries Spears (2027-03-05)</title>
      <link>https://carolinatheatre.org/aries-spears/</link>
      <description><![CDATA[Category: Comedy | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/aries-spears/</guid>
      <ev:startdate>2027-03-05</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/AriesSpears-CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>RESCHEDULED | Three Dog Night (2027-02-18)</title>
      <link>https://carolinatheatre.org/threedognight/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/threedognight/</guid>
      <ev:startdate>2027-02-18</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/04/ThreeDogNight-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>CelloGayageum (2027-02-06)</title>
      <link>https://carolinatheatre.org/cellogayageum/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/cellogayageum/</guid>
      <ev:startdate>2027-02-06</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_CelloGayageum_1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Step Afrika! (2027-01-28)</title>
      <link>https://carolinatheatre.org/step-afrika-3/</link>
      <description><![CDATA[Category: Dance | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/step-afrika-3/</guid>
      <ev:startdate>2027-01-28</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/27_StepAfrika_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Chris Fleming Live (2027-01-24)</title>
      <link>https://carolinatheatre.org/chris-fleming-live/</link>
      <description><![CDATA[Category: Comedy | 7:00pm, 9:30pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/chris-fleming-live/</guid>
      <ev:startdate>2027-01-24</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/ChrisFleming_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Vault Theatre presents Amelia Earhart (2027-01-23)</title>
      <link>https://carolinatheatre.org/vault-theatre-presents-amelia-earhart/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/vault-theatre-presents-amelia-earhart/</guid>
      <ev:startdate>2027-01-23</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_VaultTheatreAmeliaEarhart_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Nutcracker with a Live Orchestra (2026-12-23)</title>
      <link>https://carolinatheatre.org/the-nutcracker-6/</link>
      <description><![CDATA[Category: Dance | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-nutcracker-6/</guid>
      <ev:startdate>2026-12-23</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/04/WBC-The-Nutcracker-1440-x-810-500x280.jpg"/>
    </item>
    <item>
      <title>The Ben Rector Christmas Tour (2026-12-18)</title>
      <link>https://carolinatheatre.org/the-ben-rector-christmas-tour/</link>
      <description><![CDATA[Category: Music | 7:30pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-ben-rector-christmas-tour/</guid>
      <ev:startdate>2026-12-18</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/08/BenRector-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>The Nutcracker with the Tchaikovsky Virtuosi Orchestra (2026-12-10)</title>
      <link>https://carolinatheatre.org/the-nutcracker-7/</link>
      <description><![CDATA[Category: Dance | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-nutcracker-7/</guid>
      <ev:startdate>2026-12-10</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/09/CT-website-1440x810-2024--500x280.png"/>
    </item>
    <item>
      <title>Tommy Emmanuel, CGP – Living in the Light Tour (2026-12-06)</title>
      <link>https://carolinatheatre.org/tommy-emmanuel-cgpliving-in-the-light-tour/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/tommy-emmanuel-cgpliving-in-the-light-tour/</guid>
      <ev:startdate>2026-12-06</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/05/TommyEmmanuel_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Joshua Lozoff: Life is Magic (2026-12-05)</title>
      <link>https://carolinatheatre.org/joshua-lozoff-life-is-magic-2/</link>
      <description><![CDATA[Category: Family Saturday | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/joshua-lozoff-life-is-magic-2/</guid>
      <ev:startdate>2026-12-05</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_JoshuaLozoff_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Maria Bamford (2026-12-05)</title>
      <link>https://carolinatheatre.org/maria-bamford-2026-tour/</link>
      <description><![CDATA[Category: Comedy | 7:30pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/maria-bamford-2026-tour/</guid>
      <ev:startdate>2026-12-05</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/MariaBamford-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Alex Edelman: What Are You Going To Do (2026-11-21)</title>
      <link>https://carolinatheatre.org/alex-edelman/</link>
      <description><![CDATA[Category: Comedy | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/alex-edelman/</guid>
      <ev:startdate>2026-11-21</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/05/AlexEdelman-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>Please Don’t Destroy: LIVE (2026-11-19)</title>
      <link>https://carolinatheatre.org/please-dont-destroy/</link>
      <description><![CDATA[Category: Comedy | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/please-dont-destroy/</guid>
      <ev:startdate>2026-11-19</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/08/PleaseDontDestroy-CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Daniel Sloss: BITTER (Brand New Tour!) (2026-11-18)</title>
      <link>https://carolinatheatre.org/daniel-sloss-bitter/</link>
      <description><![CDATA[Category: Comedy | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/daniel-sloss-bitter/</guid>
      <ev:startdate>2026-11-18</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/26_DanielSloss_1440x810-Updated-500x280.jpg"/>
    </item>
    <item>
      <title>The Chamber Orchestra of the Triangle: Opera FM (2026-11-15)</title>
      <link>https://carolinatheatre.org/the-chamber-orchestra-of-the-triangle-opera-fm/</link>
      <description><![CDATA[Category: Music | 3:30pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-chamber-orchestra-of-the-triangle-opera-fm/</guid>
      <ev:startdate>2026-11-15</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/1440-x-810px-Website-Opera-FM-500x280.png"/>
    </item>
    <item>
      <title>Kathleen Madigan: Flying Cats &amp; Marching Armadillos Tour (2026-11-13)</title>
      <link>https://carolinatheatre.org/kathleen-madigan-flying-cats-marching-armadillos-tour/</link>
      <description><![CDATA[Category: Comedy | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/kathleen-madigan-flying-cats-marching-armadillos-tour/</guid>
      <ev:startdate>2026-11-13</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/03/KathleenMadigan_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Spyro Gyra (2026-11-11)</title>
      <link>https://carolinatheatre.org/spyro-gyra-26/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/spyro-gyra-26/</guid>
      <ev:startdate>2026-11-11</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/07/SpyroGyra_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Jake Shimabukuro (2026-11-07)</title>
      <link>https://carolinatheatre.org/jake-shimabukuro-26/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/jake-shimabukuro-26/</guid>
      <ev:startdate>2026-11-07</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/07/JakeShimabukuro_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>North Carolina Youth Tap Ensemble: Shaping Sounds (2026-11-07)</title>
      <link>https://carolinatheatre.org/north-carolina-youth-tap-ensemble-shaping-sounds/</link>
      <description><![CDATA[Category: Dance | 11:00am | Cinema One]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/north-carolina-youth-tap-ensemble-shaping-sounds/</guid>
      <ev:startdate>2026-11-07</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26-27_FSS_NCYTE_1440x810-500x280.png"/>
    </item>
    <item>
      <title>One Night on Sugar Hill: Celebrating the Life of Barry Poss &amp; the Legacy of Sugar Hill Records, featuring Jerry Douglas &amp; Friends! (2026-11-05)</title>
      <link>https://carolinatheatre.org/one-night-on-sugar-hill/</link>
      <description><![CDATA[Category: Music | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/one-night-on-sugar-hill/</guid>
      <ev:startdate>2026-11-05</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/CarolinaTheatre_SugarHill_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Durham FRINGE Festival (2026-10-30)</title>
      <link>https://carolinatheatre.org/durham-fringe-festival-2/</link>
      <description><![CDATA[Category: Dance]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/durham-fringe-festival-2/</guid>
      <ev:startdate>2026-10-30</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/26_DurhamFRINGEFestival_Branding_FINAL_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Bruce Cockburn (2026-10-29)</title>
      <link>https://carolinatheatre.org/bruce-cockburn-2026-tour/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/bruce-cockburn-2026-tour/</guid>
      <ev:startdate>2026-10-29</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/BruceCockburn_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Magician: Screening &amp; Live Score (2026-10-28)</title>
      <link>https://carolinatheatre.org/the-magician-screening-live-score/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-magician-screening-live-score/</guid>
      <ev:startdate>2026-10-28</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/1440x810-500x280.png"/>
    </item>
    <item>
      <title>Ballet Nepantla: Mística (2026-10-27)</title>
      <link>https://carolinatheatre.org/ballet-nepantla-mistica/</link>
      <description><![CDATA[Category: Dance | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/ballet-nepantla-mistica/</guid>
      <ev:startdate>2026-10-27</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/06/26_BalletNepantlaMistica_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Brad Williams: The Tall Tales Tour (2026-10-24)</title>
      <link>https://carolinatheatre.org/brad-williams-the-tall-tales-tour/</link>
      <description><![CDATA[Category: Comedy | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/brad-williams-the-tall-tales-tour/</guid>
      <ev:startdate>2026-10-24</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/BradWilliams_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Robby Hoffman: Live on Tour (2026-10-23)</title>
      <link>https://carolinatheatre.org/robby-hoffman/</link>
      <description><![CDATA[Category: Comedy | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/robby-hoffman/</guid>
      <ev:startdate>2026-10-23</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/05/RobbyHoffman-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>The Chamber Orchestra of the Triangle: The Roxelanne Effekt (2026-10-18)</title>
      <link>https://carolinatheatre.org/the-chamber-orchestra-of-the-triangle-the-roxelanne-effekt/</link>
      <description><![CDATA[Category: Music | 3:30pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-chamber-orchestra-of-the-triangle-the-roxelanne-effekt/</guid>
      <ev:startdate>2026-10-18</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/09/1440-x-810px-Website-Roxelanne-Effekt-500x280.png"/>
    </item>
    <item>
      <title>RESCHEDULED | The Monti: A Century of Stories from the Carolina Theatre (1926-2026) (2026-10-17)</title>
      <link>https://carolinatheatre.org/the-monti-a-century-of-stories-from-the-carolina-theatre-1926-2026/</link>
      <description><![CDATA[Category: Storytelling | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-monti-a-century-of-stories-from-the-carolina-theatre-1926-2026/</guid>
      <ev:startdate>2026-10-17</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/05/26_TheMonti_ACenturyofStories_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Atsuko Okatsuka: The Big Bowl Tour (2026-10-16)</title>
      <link>https://carolinatheatre.org/atsuko-okatsuka-big-bowl-tour/</link>
      <description><![CDATA[Category: Comedy | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/atsuko-okatsuka-big-bowl-tour/</guid>
      <ev:startdate>2026-10-16</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/05/Static_Digital_1440x810_AtsukoOkatsuka_2025_Regional_CarolinaTheatreofDurham_1016-500x280.jpg"/>
    </item>
    <item>
      <title>Scott Bradlee’s Postmodern Jukebox – The Future is Vintage World Tour (2026-10-15)</title>
      <link>https://carolinatheatre.org/postmodernjukebox/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/postmodernjukebox/</guid>
      <ev:startdate>2026-10-15</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/05/PostModernJukebox_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Trombone Shorty &amp; Orleans Avenue (2026-10-13)</title>
      <link>https://carolinatheatre.org/trombone-shorty-orleans-avenue-26/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/trombone-shorty-orleans-avenue-26/</guid>
      <ev:startdate>2026-10-13</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/07/TromboneShorty_CTD_WebsiteHeader_1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Everything Happens Live with Kate Bowler (2026-10-12)</title>
      <link>https://carolinatheatre.org/everything-happens-live-with-kate-bowler-26/</link>
      <description><![CDATA[Category: Discussion | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/everything-happens-live-with-kate-bowler-26/</guid>
      <ev:startdate>2026-10-12</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/07/26_KateBowler_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Kenny Wayne Shepherd Band (2026-10-07)</title>
      <link>https://carolinatheatre.org/kenny-wayne-shepherd-band/</link>
      <description><![CDATA[Category: Music | 8:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/kenny-wayne-shepherd-band/</guid>
      <ev:startdate>2026-10-07</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/03/KWS-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>Fred Armisen: Comedy for Musicians But Everyone is Welcome (2026-10-06)</title>
      <link>https://carolinatheatre.org/fred-armisen/</link>
      <description><![CDATA[Category: Comedy | 7:00pm | Fletcher Hall]]></description>
      <pubDate>Mon, 5 Oct 2026 10:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/fred-armisen/</guid>
      <ev:startdate>2026-10-06</ev:startdate>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/04/FredArmisen_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
  </channel>
</rss>
