<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<rss version="2.0">
  <channel>
    <title>Carolina Theatre of Durham Events</title>
    <link>https://carolinatheatre.org/events/</link>
    <description>Events and performances at Carolina Theatre of Durham</description>
    <language>en-us</language>
    <lastBuildDate>Wed, 11 Mar 2026 21:15:05 GMT</lastBuildDate>
    <item>
      <title>Kathleen Madigan: Flying Cats &amp; Marching Armadillos Tour (2026-11-13)</title>
      <link>https://carolinatheatre.org/kathleen-madigan-flying-cats-marching-armadillos-tour/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Tue, 10 Mar 2026 18:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/kathleen-madigan-flying-cats-marching-armadillos-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/03/KathleenMadigan_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Kathleen Madigan: Flying Cats &amp; Marching Armadillos Tour (2026-11-14)</title>
      <link>https://carolinatheatre.org/kathleen-madigan-flying-cats-marching-armadillos-tour/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Tue, 10 Mar 2026 18:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/kathleen-madigan-flying-cats-marching-armadillos-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/03/KathleenMadigan_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>That Motown Band (2026-05-02)</title>
      <link>https://carolinatheatre.org/that-motown-band-2026/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Tue, 3 Mar 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/that-motown-band-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/03/Motown-In-Your-Town-1920X1080-500x280.png"/>
    </item>
    <item>
      <title>Punch Brothers (2026-05-17)</title>
      <link>https://carolinatheatre.org/punch-brothers/</link>
      <description>Category: Music | 7:30pm | Fletcher Hall</description>
      <pubDate>Tue, 3 Mar 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/punch-brothers/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/03/PunchBrothers-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Resonance (2026-04-25)</title>
      <link>https://carolinatheatre.org/north-carolina-youth-tap-ensemble-resonance-2/</link>
      <description>Category: Dance | 7:30pm | Fletcher Hall</description>
      <pubDate>Tue, 3 Mar 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/north-carolina-youth-tap-ensemble-resonance-2/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/RESONANCE-1440-x-810-px-500x280.jpg"/>
    </item>
    <item>
      <title>The Monti GrandSLAM (2026-04-24)</title>
      <link>https://carolinatheatre.org/the-monti-grandslam-2026/</link>
      <description>Category: Storytelling | 8:00pm | Fletcher Hall</description>
      <pubDate>Fri, 27 Feb 2026 19:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-monti-grandslam-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/26_TheMontiGrandSLAM_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Full Frame Documentary Film Festival (2026-04-16)</title>
      <link>https://carolinatheatre.org/full-frame-documentary-film-festival-26/</link>
      <description>Category: Documentary</description>
      <pubDate>Thu, 26 Feb 2026 19:15:07 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/full-frame-documentary-film-festival-26/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/CT-website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Full Frame Documentary Film Festival (2026-04-17)</title>
      <link>https://carolinatheatre.org/full-frame-documentary-film-festival-26/</link>
      <description>Category: Documentary</description>
      <pubDate>Thu, 26 Feb 2026 19:15:07 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/full-frame-documentary-film-festival-26/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/CT-website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Full Frame Documentary Film Festival (2026-04-18)</title>
      <link>https://carolinatheatre.org/full-frame-documentary-film-festival-26/</link>
      <description>Category: Documentary</description>
      <pubDate>Thu, 26 Feb 2026 19:15:07 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/full-frame-documentary-film-festival-26/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/CT-website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Full Frame Documentary Film Festival (2026-04-19)</title>
      <link>https://carolinatheatre.org/full-frame-documentary-film-festival-26/</link>
      <description>Category: Documentary</description>
      <pubDate>Thu, 26 Feb 2026 19:15:07 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/full-frame-documentary-film-festival-26/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/CT-website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Letters to America (2026-05-06)</title>
      <link>https://carolinatheatre.org/letters-to-america-durham-symphony-orchestra/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Tue, 24 Feb 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/letters-to-america-durham-symphony-orchestra/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/Website-1440-x-810-px-500x280.png"/>
    </item>
    <item>
      <title>Bruce Cockburn (2026-10-29)</title>
      <link>https://carolinatheatre.org/bruce-cockburn-2026-tour/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Mon, 23 Feb 2026 19:15:07 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/bruce-cockburn-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/BruceCockburn_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Right in the Eye: Alcoléa &amp; Cie (2026-04-28)</title>
      <link>https://carolinatheatre.org/right-in-the-eye-community-event/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Tue, 10 Feb 2026 19:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/right-in-the-eye-community-event/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_RIghtintheEye_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Maria Bamford (2026-12-05)</title>
      <link>https://carolinatheatre.org/maria-bamford-2026-tour/</link>
      <description>Category: Comedy | 7:30pm | Fletcher Hall</description>
      <pubDate>Tue, 10 Feb 2026 19:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/maria-bamford-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/MariaBamford-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Daniel Sloss: BITTER (Brand New Tour!) (2026-11-18)</title>
      <link>https://carolinatheatre.org/daniel-sloss-bitter/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Tue, 10 Feb 2026 14:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/daniel-sloss-bitter/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/26_DanielSloss_1440x810-Updated-500x280.jpg"/>
    </item>
    <item>
      <title>Aladdin (2026-05-16)</title>
      <link>https://carolinatheatre.org/durham-ballet-theatre-aladdin/</link>
      <description>Category: Dance | 2:00pm, 6:00pm | Fletcher Hall</description>
      <pubDate>Fri, 6 Feb 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/durham-ballet-theatre-aladdin/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/02/Aladdin-1440-X-810-1-500x280.png"/>
    </item>
    <item>
      <title>Better Together: Stories of Healing &amp; Connection from Jubilee Home (2026-03-10)</title>
      <link>https://carolinatheatre.org/better-together-stories-of-healing-connection-from-jubilee-home/</link>
      <description>Category: Discussion | 7:00pm | Cinema One</description>
      <pubDate>Fri, 30 Jan 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/better-together-stories-of-healing-connection-from-jubilee-home/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/01/BT1440-x-810-px-500x280.png"/>
    </item>
    <item>
      <title>Brains On! LIVE: Your Brain is Magic! (2026-04-12)</title>
      <link>https://carolinatheatre.org/brains-on-live-your-brain-is-magic-durham/</link>
      <description>Category: Discussion | 4:30pm | Fletcher Hall</description>
      <pubDate>Wed, 28 Jan 2026 19:15:08 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/brains-on-live-your-brain-is-magic-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/01/BrainsOnLive_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Pat Metheny: Side-Eye III+ (2026-09-16)</title>
      <link>https://carolinatheatre.org/pat-metheny-side-eye-iii/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Tue, 27 Jan 2026 19:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/pat-metheny-side-eye-iii/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/01/PatMetheny-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>Grace Givertz (2026-05-28)</title>
      <link>https://carolinatheatre.org/grace-givertz-wavemakers-series/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Tue, 27 Jan 2026 19:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/grace-givertz-wavemakers-series/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/01/26_Grace-Givertz_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Monti: Strictly Platonic (2026-02-13)</title>
      <link>https://carolinatheatre.org/the-monti-strictly-platonic/</link>
      <description>Category: Storytelling | 8:00pm | Fletcher Hall</description>
      <pubDate>Fri, 16 Jan 2026 19:15:06 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-monti-strictly-platonic/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/01/StrictlyPlatonic_v1_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Orchestra Starring ELO and ELO Part II Former Members (2026-04-02)</title>
      <link>https://carolinatheatre.org/the-orchestra-starring-elo-and-elo-part-ii-durham/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Tue, 13 Jan 2026 19:15:05 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-orchestra-starring-elo-and-elo-part-ii-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2026/01/TheOrchestra-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>Swan Lake (2026-04-30)</title>
      <link>https://carolinatheatre.org/world-ballet-company-swan-lake-durham/</link>
      <description>Category: Dance | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/world-ballet-company-swan-lake-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/26_WBC_Swan-Lake_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Vir Das: Hey Stranger (2026-03-12)</title>
      <link>https://carolinatheatre.org/vir-das-hey-stranger-2026-tour/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/vir-das-hey-stranger-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/12/VirDas_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Vault Theatre presents #TALLTales By Lauren Sale (2026-01-24)</title>
      <link>https://carolinatheatre.org/vault-theatre-presents-talltales-by-lauren-sale/</link>
      <description>Category: Family Saturday | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/vault-theatre-presents-talltales-by-lauren-sale/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_TallTales_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Vault Theatre presents #TALLTales By Lauren Sale (2026-01-24)</title>
      <link>https://carolinatheatre.org/vault-theatre-presents-talltales-by-lauren-sale/</link>
      <description>Category: Family Saturday | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/vault-theatre-presents-talltales-by-lauren-sale/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_TallTales_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Tom Papa: Grateful Bread Tour (2026-01-29)</title>
      <link>https://carolinatheatre.org/tom-papa-grateful-bread-tour/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/tom-papa-grateful-bread-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/TomPapa_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>The Wood Brothers (2026-03-07)</title>
      <link>https://carolinatheatre.org/the-wood-brothers-tour-2026/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-wood-brothers-tour-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/TheWoodBrothers_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Remember Balloons (2026-01-28)</title>
      <link>https://carolinatheatre.org/the-remember-balloons-2/</link>
      <description>Category: Dance | 1:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-remember-balloons-2/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_TheRememberBalloons_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Remember Balloons (2026-01-28)</title>
      <link>https://carolinatheatre.org/the-remember-balloons-2/</link>
      <description>Category: Dance | 1:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-remember-balloons-2/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_TheRememberBalloons_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Durham Savoyards: Princess Ida, or Castle Adamant (2026-03-20)</title>
      <link>https://carolinatheatre.org/the-durham-savoyards-princess-ida-or-castle-adamant/</link>
      <description>Category: Theater | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-durham-savoyards-princess-ida-or-castle-adamant/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/03/24_SeatingChartHeader_edited_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Durham Savoyards: Princess Ida, or Castle Adamant (2026-03-21)</title>
      <link>https://carolinatheatre.org/the-durham-savoyards-princess-ida-or-castle-adamant/</link>
      <description>Category: Theater | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-durham-savoyards-princess-ida-or-castle-adamant/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/03/24_SeatingChartHeader_edited_1440x810-500x280.png"/>
    </item>
    <item>
      <title>The Durham Savoyards: Princess Ida, or Castle Adamant (2026-03-22)</title>
      <link>https://carolinatheatre.org/the-durham-savoyards-princess-ida-or-castle-adamant/</link>
      <description>Category: Theater | 3:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/the-durham-savoyards-princess-ida-or-castle-adamant/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/03/24_SeatingChartHeader_edited_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Tab Benoit + Paul Thorn: The One Night Only Tour (2026-03-05)</title>
      <link>https://carolinatheatre.org/tab-benoit-paul-thorn-2026-tour/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/tab-benoit-paul-thorn-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/TabPaul_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Snarky Puppy (2026-04-10)</title>
      <link>https://carolinatheatre.org/snarky-puppy-2026/</link>
      <description>Category: Music | 8:30pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/snarky-puppy-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/SnarkyPuppy_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Small Town Murder (2026-03-06)</title>
      <link>https://carolinatheatre.org/small-town-murder/</link>
      <description>Category: Podcast | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/small-town-murder/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/12/SmallTownMurder-CTD-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>Sherri Shepherd: Make It Make Sense Tour (2026-01-17)</title>
      <link>https://carolinatheatre.org/sherri-shepherd-make-it-make-sense-tour/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/sherri-shepherd-make-it-make-sense-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/SherriShepherd_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Sherri Shepherd: Make It Make Sense Tour (2026-01-17)</title>
      <link>https://carolinatheatre.org/sherri-shepherd-make-it-make-sense-tour/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/sherri-shepherd-make-it-make-sense-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/SherriShepherd_CTD_WebsiteHeader_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>Rory Scovel: Know Your Enemy Tour (2026-02-14)</title>
      <link>https://carolinatheatre.org/rory-scovel-tour-2026/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/rory-scovel-tour-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/RoryScovel-CTD-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Pete Holmes (2026-01-23)</title>
      <link>https://carolinatheatre.org/pete-holmes-tour-2025/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/pete-holmes-tour-2025/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/PeteHolmes_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Pete Holmes (2026-01-23)</title>
      <link>https://carolinatheatre.org/pete-holmes-tour-2025/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/pete-holmes-tour-2025/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/PeteHolmes_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>On Cinema – The Certified “Five Bags of Popcorn” Tour (2026-03-30)</title>
      <link>https://carolinatheatre.org/on-cinema-five-bags-of-popcorn/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/on-cinema-five-bags-of-popcorn/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/OnCinemaLive_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Omar Ruiz-Lopez (2026-03-07)</title>
      <link>https://carolinatheatre.org/omar-ruiz-lopez/</link>
      <description>Category: Family Saturday | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/omar-ruiz-lopez/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_OmarRuizLopez_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Music Beyond Borders (2026-05-03)</title>
      <link>https://carolinatheatre.org/music-beyond-borders/</link>
      <description>Category: Music | 4:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/music-beyond-borders/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/COT_Music-Without-Borders-CTD_Website-1440-x-810-px-500x280.png"/>
    </item>
    <item>
      <title>Muscadine Bloodline (2026-01-09)</title>
      <link>https://carolinatheatre.org/muscadine-bloodline-durham/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/muscadine-bloodline-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/MuscadineBloodline_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Muscadine Bloodline (2026-01-09)</title>
      <link>https://carolinatheatre.org/muscadine-bloodline-durham/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/muscadine-bloodline-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/MuscadineBloodline_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Ms. Pat (2026-01-30)</title>
      <link>https://carolinatheatre.org/ms-pat/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/ms-pat/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/MsPat_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Moonchild: Waves Tour (2026-04-08)</title>
      <link>https://carolinatheatre.org/moonchild-waves-tour-2026/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/moonchild-waves-tour-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/Moonchild-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Margaret Cho: Choligarchy (2026-02-05)</title>
      <link>https://carolinatheatre.org/margaret-cho-choligarchy-durham/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/margaret-cho-choligarchy-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/MargaretCho_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Leonid &amp; Friends 2026 Tour (2026-04-23)</title>
      <link>https://carolinatheatre.org/leonid-friends-2026-tour/</link>
      <description>Category: Music | 7:30pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/leonid-friends-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/LeonidandFriends-CTD-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Leela James: 2BHONEST (2026-03-11)</title>
      <link>https://carolinatheatre.org/leela-james-2bhonest/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/leela-james-2bhonest/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/LeelaJames_CTD-GraphicsWebsite-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>Larry &amp; Joe (2026-06-06)</title>
      <link>https://carolinatheatre.org/larry-joe-3/</link>
      <description>Category: Family Saturday | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/larry-joe-3/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_LarryandJoe_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Keb’ Mo’ (2026-02-24)</title>
      <link>https://carolinatheatre.org/keb-mo-2026-tour/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/keb-mo-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/KebMo-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Kattam and his Tam Tams (2026-04-11)</title>
      <link>https://carolinatheatre.org/kattam-and-his-tam-tams/</link>
      <description>Category: Family Saturday | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/kattam-and-his-tam-tams/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_Kattam_FSS_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Josh Gates Live! An Evening of Legends, Mysteries, and Tales of Adventure (2026-05-30)</title>
      <link>https://carolinatheatre.org/josh-gates-live-2026/</link>
      <description>Category: Star Series | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/josh-gates-live-2026/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/12/JoshGates-CTD-Website-1440x810-1-500x280.jpg"/>
    </item>
    <item>
      <title>International Championship of Collegiate A Capella 2026 Semifinals (2026-03-28)</title>
      <link>https://carolinatheatre.org/international-championship-of-collegiate-a-capella-2026-semifinals/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/international-championship-of-collegiate-a-capella-2026-semifinals/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2023/01/2023_ICCA_South_SF_Tix1440x810_text-500x280.jpg"/>
    </item>
    <item>
      <title>Il Trionfo! (2026-03-14)</title>
      <link>https://carolinatheatre.org/il-trionfo/</link>
      <description>Category: Music | 7:30pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/il-trionfo/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/COT_II-Trionfo-CTD_Website-1440-x-810-px-500x280.png"/>
    </item>
    <item>
      <title>Il Trionfo! (2026-03-15)</title>
      <link>https://carolinatheatre.org/il-trionfo/</link>
      <description>Category: Music | 4:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/il-trionfo/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/COT_II-Trionfo-CTD_Website-1440-x-810-px-500x280.png"/>
    </item>
    <item>
      <title>Ichiko Aoba (2026-05-01)</title>
      <link>https://carolinatheatre.org/ichiko-aoba-2026-tour/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/ichiko-aoba-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/IchikoAoba_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>International Championship of High School A Capella 2026 Semifinals (2026-03-27)</title>
      <link>https://carolinatheatre.org/icca-high-school-2026-semifinals/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/icca-high-school-2026-semifinals/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2023/12/vv_icca_south_semi_1440x810-500x280.jpg"/>
    </item>
    <item>
      <title>International Championship of Collegiate A Capella 2026 Quarterfinals (2026-02-21)</title>
      <link>https://carolinatheatre.org/icca-collegiate-2026-quarterfinals-2/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/icca-collegiate-2026-quarterfinals-2/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/11/vv_icca_south_qf_1440x810_website-500x280.jpg"/>
    </item>
    <item>
      <title>International Championship of Collegiate A Capella 2026 Quarterfinals (2026-01-24)</title>
      <link>https://carolinatheatre.org/icca-collegiate-2026-quarterfinals-1/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/icca-collegiate-2026-quarterfinals-1/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/11/vv_icca_south_qf_1440x810_website-500x280.jpg"/>
    </item>
    <item>
      <title>International Championship of Collegiate A Capella 2026 Quarterfinals (2026-01-24)</title>
      <link>https://carolinatheatre.org/icca-collegiate-2026-quarterfinals-1/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/icca-collegiate-2026-quarterfinals-1/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2024/11/vv_icca_south_qf_1440x810_website-500x280.jpg"/>
    </item>
    <item>
      <title>Dude Dad’s Parents Night Out (18+) (2026-03-08)</title>
      <link>https://carolinatheatre.org/dude-dads-2026-tour/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/dude-dads-2026-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/DudeDad-CTD-Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Drum TAO (2026-02-12)</title>
      <link>https://carolinatheatre.org/drum-tao-durham/</link>
      <description>Category: Dance | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/drum-tao-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/25_Drum-Tao_1440x810-Updated-500x280.png"/>
    </item>
    <item>
      <title>Drew and Ellie Holcomb: Never Gonna Let You Go Tour (2026-02-19)</title>
      <link>https://carolinatheatre.org/drew-and-ellie-holcomb-never-gonna-let-you-go/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/drew-and-ellie-holcomb-never-gonna-let-you-go/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/DrewEllieHolcomb_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Dan Soder: The Golden Retriever of Comedy Tour (2026-04-11)</title>
      <link>https://carolinatheatre.org/dan-soder-the-golden-retriever-of-comedy-tour/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/dan-soder-the-golden-retriever-of-comedy-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/26_DanSoder_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Connor Wood Presents: Fibs &amp; Friends (2026-01-28)</title>
      <link>https://carolinatheatre.org/connor-wood-fibs-and-friends/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/connor-wood-fibs-and-friends/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Connor Wood Presents: Fibs &amp; Friends (2026-01-28)</title>
      <link>https://carolinatheatre.org/connor-wood-fibs-and-friends/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/connor-wood-fibs-and-friends/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/Website-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Cirque Kalabanté (2026-03-03)</title>
      <link>https://carolinatheatre.org/cirque-kalabante-durham/</link>
      <description>Category: Dance | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/cirque-kalabante-durham/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/26_Cirque-Kalabante_1440x1080-500x280.png"/>
    </item>
    <item>
      <title>Cirque Immersif (2026-02-02)</title>
      <link>https://carolinatheatre.org/cirque-immersif/</link>
      <description>Category: Live Event | 6:30pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/cirque-immersif/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/10/26_CirqueImmersif_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Chris Botti (2026-02-26)</title>
      <link>https://carolinatheatre.org/chris-botti-2/</link>
      <description>Category: Music | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/chris-botti-2/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/ChrisBotti-CTD-1440x810-1-500x280.png"/>
    </item>
    <item>
      <title>Charles and Jackson Pettee – Catch the Bluegrass Bug! (2026-05-16)</title>
      <link>https://carolinatheatre.org/charles-and-jackson-pettee-catch-the-bluegrass-bug/</link>
      <description>Category: Family Saturday | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/charles-and-jackson-pettee-catch-the-bluegrass-bug/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_PetteeBluegrassBug_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Carolina Theatre’s 100th Birthday Party (2026-01-31)</title>
      <link>https://carolinatheatre.org/carolina-theatres-100th-birthday-party/</link>
      <description>Category: Live Event | 6:00pm</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/carolina-theatres-100th-birthday-party/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/26_100BirthdayParty_1440x810-500x280.png"/>
    </item>
    <item>
      <title>RESCHEDULED | Buffalo Nichols (2026-03-10)</title>
      <link>https://carolinatheatre.org/buffalo-nichols-wavemakers-series/</link>
      <description>Category: Music | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/buffalo-nichols-wavemakers-series/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/09/25_Buffalo-Nichols_1440x810-500x280.png"/>
    </item>
    <item>
      <title>Breaking the Booth: Premiere Screening and Community Panel (2026-01-19)</title>
      <link>https://carolinatheatre.org/breaking-the-booth/</link>
      <description>Category: Documentary | 5:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/breaking-the-booth/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/12/25_Breaking-the-Booth_1440X810-500x280.png"/>
    </item>
    <item>
      <title>Breaking the Booth: Premiere Screening and Community Panel (2026-01-19)</title>
      <link>https://carolinatheatre.org/breaking-the-booth/</link>
      <description>Category: Documentary | 5:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/breaking-the-booth/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/12/25_Breaking-the-Booth_1440X810-500x280.png"/>
    </item>
    <item>
      <title>Brad Williams: The Tall Tales Tour (2026-10-24)</title>
      <link>https://carolinatheatre.org/brad-williams-the-tall-tales-tour/</link>
      <description>Category: Comedy | 7:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/brad-williams-the-tall-tales-tour/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/11/BradWilliams_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
    <item>
      <title>BIG LOVE with Stormie Daie (2026-02-14)</title>
      <link>https://carolinatheatre.org/big-love-with-stormie-daie/</link>
      <description>Category: Dance | 11:00am | Cinema One</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/big-love-with-stormie-daie/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/07/26_BigLoveStormieDaie_1440x810-500x280.png"/>
    </item>
    <item>
      <title>RESCHEDULED – Andrew Callaghan: All Gas No Brakes x Channel 5 “Carnival” (2026-02-20)</title>
      <link>https://carolinatheatre.org/andrew-callaghan/</link>
      <description>Category: Comedy | 8:00pm | Fletcher Hall</description>
      <pubDate>Wed, 24 Dec 2025 00:41:31 GMT</pubDate>
      <guid isPermaLink="true">https://carolinatheatre.org/andrew-callaghan/</guid>
      <enclosure type="image/jpeg" url="https://carolinatheatre.org/wp-content/uploads/2025/08/AndrewCallaghan_CTD_WebsiteHeader_1440x810-500x280.png"/>
    </item>
  </channel>
</rss>
